<div id="newcontainer">
	<input type="text" data-mini="true" class="newfield c-black" id = "name" placeholder="item name" maxlength="20" value="{{name}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "description" placeholder="details" maxlength="75" value="{{description}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "url" placeholder="item url (optional)" value="{{url}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "pic" placeholder="image url (optional)" value="{{pic}}">
	<button id="newwishbutton" class="secondwishbutton" onclick="Wishes.editItem({{itemId}})">edit item</button>
</div>