<div id="" class="ui-grid-c edititemform">
	<input type="text" data-mini="true" class="newfield "  id = "name" placeholder="item name" maxlength="20" value="{{name}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "description" placeholder="details" maxlength="75" value="{{description}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "url" placeholder="item url" value="{{url}}">
	<input type="text" data-mini="true" class="newfield c-black" id = "pic" placeholder="image url" value="{{pic}}">
	<button id="" class="detailsbutton submiteditbutton "  onclick="Wishes.editItem({{itemId}})">submit edit</button>
</div>