<div data-role="header collapsible" class="heading">
    <div id="headtitle" class="ui-btn-left">
    All wishlists
    </div>
</div>

<!-- LIST ALL WISHLISTS -->
<% @wishlists.each do |wish| %>

<!-- IF [wish] BELONGS TO USER -->
<!-- make title and hidden buttons -->
  <% if (wish.user_id === @user_id) %>
    <div class='wishlistslist' data-role="content">
      <ul data-role="listview" data-icon="carat-d" data-iconpos="right">
        <li>
          <a href="#" class="titlebutton"> <%= wish.title %> </a>
        </li>
    <!-- hidden buttons -->
        <div class="listbuttons hide">
          <div data-tap-toggle="false">
            <div data-role="navbar">
              <ul>
                <li><a href="<%= wishlist_path(wish.id)%>" data-icon="eye">View</a></li>
                <li><a href="<%= edit_wishlist_path(wish.id)%>" data-icon="edit">Edit</a></li>
                <li>
                  <%= form_for wish, method: "DELETE"  do |f| %>
                    <%= button_tag("Delete", data: { "icon" => "delete" }) %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>    <!-- end -->
        </div>
    <!-- close hidden buttons -->
      </ul>
    </div>

  <!-- IF [wish] IS NOT BY THE USER -->
  <!-- make only the header and link directly to the list -->
  <% else %>
    <div class='wishlistslist' data-role="content">
      <ul data-role="listview" data-icon="arrow-r" data-iconpos="right">
        <li>
          <a href="<%= wishlist_path(wish.id)%>" class="titlebutton"> <%= wish.title %> <span class="by"> by <%= wish.user.name %></span></a>
        </li>
      </ul>
    </div>
  <% end %>
  <br>
<% end %>
<!-- end listing loop -->

<!-- slider menu -->
<%= render "partials/slidemenu" %>

<!-- footer -->
<%= render "partials/footer" %>

<script>
var open;
//SHOW BUTTONS FUNCTION
  $(document).on("click", ".wishlistslist", function() {
    var dis = $(this).find('.listbuttons');
    dis.removeClass('hide');
    var icon = $(this).find('');
    if (dis.height() === 0) {
      if (open) {
        open.animate({'height': '0px'}, 150);
      }
      dis.animate({'height': dis.get(0).scrollHeight}, 150);   
    } else {
      dis.animate({'height': '0px'}, 150, function() {
        dis.addClass('hide');
      });
    }
    open = dis;
  });
</script>



