<div data-role="header collapsible" class="heading">
    <div id="headtitle" class="ui-btn-left">
    All wishlists
    </div>
</div>


<% @wishlists.each do |wish| %>
<div class='wishlistslist' data-role="content">
  <ul data-role="listview" data-icon="carat-d" data-iconpos="right">
    <li>
    <a href="#" class="titlebutton"> <%= wish.title %> <%= wish.user.name %></a>
    </li>

<!-- hidden buttons -->
<div class="listbuttons">
  <div data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="<%= wishlist_path(wish.id)%>" data-icon="eye">View</a></li>
        <% if wish.user.id == @user_id %>
        <li><a href="<%= edit_wishlist_path(wish.id)%>" data-icon="edit">Edit</a></li>
        <li>
          <%= form_for wish, method: "DELETE"  do |f| %>
            <%= button_tag("Delete", data: { "icon" => "delete" }) %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>    <!-- end -->
</div>
<!-- close hidden div -->
</ul>
</div>

<br>

<% end %>


<!-- slider menu -->
<%= render "partials/slidemenu" %>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="/wishlists" data-icon="bullets"> All Lists</a></li>
        <li><a href="/wishlists/new" data-icon="plus">New List</a></li>
        <li><a href="#" onclick="Gimme.showMenu()" class="morebutton" data-icon="star">More</a></li>
    </ul>
  </div>
</div>


<script>
var open;
//SHOW BUTTONS FUNCTION
$(document).on("click", ".wishlistslist", function() {
  var dis = $(this).find('.listbuttons');
  if (dis.height() === 0) {
    if (open) {
      open.animate({'height': '0px'}, 150);
    }
    dis.animate({'height': dis.get(0).scrollHeight}, 150);   
  } else {
    dis.animate({'height': '0px'}, 150);
  }
  open = dis;
});

</script>



