<div data-role="header collapsible" class="heading">
    <div id="headtitle" class="ui-btn-left">
    all wishlists
    </div>
</div>


<% @wishlists.each do |wish| %>
<div class='wishlistslist' data-role="content">
  <ul data-role="listview" data-icon="carat-d" data-iconpos="right">
    <li><a href="<%= wishlist_path(wish.id)%>" class="titlebutton"> <%= wish.title %> </a></li>

<!--     <button class="listbutton"><a href="<%= wishlist_path(wish.id)%>">view</a></button> -->

    <!-- need to render these buttons ONLY if wishlist=userid -->
    <%if wish.user.id == @user_id%>
      <button class="listbutton"><a href="<%= edit_wishlist_path(wish.id)%>">edit</a></button>
      <button class="listbutton">
      <%= form_for wish, method: "DELETE"  do |f| %>
      <%= submit_tag("delete", :id => 'deletebutton') %>
      <% end %>
      </button>
    <% end %>
    <!-- end -->
  </ul>
</div>

<br>

<% end %>

<!-- slide menu panel -->
<div class="menu" id="menu">
<ul>
  <li><a href="#">claimed items</a></li>
  <li><%= link_to "log out", logout_path %></li>
</ul>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="/wishlists" data-icon="bullets"> All Lists</a></li>
        <li><a href="/wishlists/new" data-icon="plus">New List</a></li>
        <li><a href="#" onclick="Gimme.showMenu()" class="morebutton" data-icon="star">More</a></li>
    </ul>
  </div>
</div>
