<div data-role="page">

	<div data-role="header collapsible" class="heading">
		<div id="headtitle" class="ui-btn-left">
		New wishlist
		</div>
		<img id="icon" class ="ui-btn-right" src="<%= @pic %>">
	</div>
	<!-- closes header div -->

<%= form_for @wishlist do |f| %>
	  	<%= f.text_field :title, :class => 'newfield', :placeholder => "wishlist name" %>
	  

		<%= f.text_area :description, :class => 'newfield', :placeholder => "add a description (optional)" %>


<!-- <fieldset data-role="controlgroup">
	<input type="radio" id="christmas" name="kind" value="christmas"> 
		<label for="christmas"> Christmas</label><br>
	<input type="radio" id="birthday" name="kind" value="birthday"> 
		<label for="birthday"> birthday</label><br>
	<input type="radio" id="other" name="kind" value="other"> 
		<label for="other"> other</label><br>
</fieldset> -->

<div class="ui-field-contain" id="choosetheme">
  <!-- <label for="select-choice-1" class="select">Choose a theme:</label> -->
  <select name="wishlist[kind]">
  	<option>choose a theme</option>
    <option value="christmas">Christmas</option>
    <option value="birthday">Birthday</option>
    <option value="wedding">Wedding</option>
    <option value="other">Other</option>
  </select>
</div>

	<!-- closes controlgroup fieldset -->

	<%= f.text_field :date, :placeholder => "event date", data: { "role" => "date" } %>

	<button data-icon="carat-r" data-iconpos="right">
	  <%= f.submit 'create & add items ', :class => 'submitbutton' %>
	  </button>
	<br>
<% end %>

<!-- closes form -->

<!-- slider menu -->
<%= render "partials/slidemenu" %>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="/wishlists" data-icon="bullets"> All Lists</a></li>
        <li><a href="/wishlists/new" data-icon="plus">New List</a></li>
        <li><a href="#" onclick="Gimme.showMenu()" class="morebutton" data-icon="star">More</a></li>
      </ul>
    </div>
  </div>
</div>




<!-- closes data-role div -->
