<div class="row" id="topbar">

<div class="col-xs-6">
	<img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" id="hamburger">
</div>

<div class="col-xs-6">
	<div class="text-right">
	<img id="icon" src="<%= @pic %>">
</div>
</div>

</div> 
<!-- closes topbar div -->

<%= form_for @wishlist do |f| %>

	<%= f.label :title %>:
  	<%= f.text_field :title %><br />

	<%= f.label :date %>:
	<%= f.text_field :date, id: "datepicker"%><br />

	<%= f.label :description %>:
	<%= f.text_field :description %><br />

	<%= f.label :type %>:<br>
  	<%= f.radio_button(:kind, "christmas") %> Christmas <br />
  	<%= f.radio_button(:kind, "birthday") %> Birthday <br />
  	<%= f.radio_button(:kind, "other") %> Other <br />

  <%= f.submit %>
<% end %>