<div data-role="page">

	<div data-role="header collapsible">
		<img id="icon" src="<%= @pic %>">
	</div>
	<!-- closes header div -->

<%= form_for @wishlist do |f| %>
		<%= f.label :title %>
	  	<%= f.text_field :title %>
	  
		<%= f.label :date %>
		<%= f.text_field :date, id: "datepicker"%>

		<%= f.label :description %>
		<%= f.text_area :description %>

		<%= f.label :type %>
	<fieldset data-role="controlgroup">

	  	<%= f.radio_button(:kind, "christmas", id: "radio-choice-1")%>
		<%= f.label :description %>Christmas
	 
	  	<%= f.radio_button(:kind, "birthday", id: "radio-choice-2") %> 
		<%= f.label :description %>Birthday

	  	<%= f.radio_button(:kind, "other", id: "radio-choice-3") %> 
		<%= f.label :description %>Other
	 </fieldset>

	<!--  <fieldset data-role="controlgroup">
		<legend>Choose an event:</legend>
	     	<input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" checked="checked" />
	     	<label for="radio-choice-1">Christmas</label>

	     	<input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2"  />
	     	<label for="radio-choice-2">Birthday</label>

	     	<input type="radio" name="radio-choice" id="radio-choice-3" value="choice-3"  />
	     	<label for="radio-choice-3">Other</label>

	</fieldset> -->
	<!-- closes controlgroup div -->

	  <%= f.submit %>
<br>
<% end %>

 <%= link_to "Log out", logout_path %>


<div data-role="footer" data-position="fixed" data-theme=>
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="bullets"> Wish List</a></li>
        <li><a href="#" data-icon="plus">Add Wish List</a></li>
        <li><a href="#" data-icon="plus">More Options</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
<!-- closes data-role div -->
