<div data-role="page">

	<div data-role="header collapsible" class="heading">
		<div id="headtitle" class="ui-btn-left">
		new wishlist
		</div>
		<img id="icon" class ="ui-btn-right" src="<%= @pic %>">
	</div>
	<!-- closes header div -->

<%= form_for @wishlist do |f| %>
	  	<%= f.text_field :title, :class => 'newfield', :placeholder => "wishlist name" %>
	  

		<%= f.text_area :description, :class => 'newfield', :placeholder => "add a description (optional)" %>


<!-- <fieldset data-role="controlgroup">
	<input type="radio" id="christmas" name="kind" value="christmas"> 
		<label for="christmas"> Christmas</label><br>
	<input type="radio" id="birthday" name="kind" value="birthday"> 
		<label for="birthday"> birthday</label><br>
	<input type="radio" id="other" name="kind" value="other"> 
		<label for="other"> other</label><br>
</fieldset> -->

<div class="ui-field-contain">
  <label for="select-choice-1" class="select">Choose a theme:</label>
  <select name="wishlist[kind]" id="select-choice-1">
    <option value="christmas" <%= if @wishlist.kind == "christmas" then "selected" end %>>Christmas</option>
    <option value="birthday" <%= if @wishlist.kind == "birthday" then "selected" end %>>Birthday</option>
    <option value="wedding" <%= if @wishlist.kind == "wedding" then "selected" end %>>Wedding</option>
    <option value="other" <%= if @wishlist.kind == "other" then "selected" end %>>Other</option>
  </select>
</div>

	<!-- closes controlgroup fieldset -->

	<%= f.text_field :date, id: "datepicker", :class => 'newfield', :placeholder => "event date"%>

	<button data-icon="carat-r" data-iconpos="right">
	  <%= f.submit 'create & add items ', :class => 'submitbutton' %>
	  </button>
	<br>
<% end %>
<!-- closes form -->


<!-- slide menu panel -->
<div class="menu" id="menu">
<ul>
	<li><a href="#">View claimed items</a></li>
	<li><%= link_to "Log out", logout_path %></li>
</ul>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="/wishlists" data-icon="bullets"> All Lists</a></li>
        <li><a href="/wishlists/new" data-icon="plus">New List</a></li>
        <li><a href="#" onclick="Gimme.showMenu()" class="morebutton" data-icon="arrow-u">More</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- closes data-role div -->
