<div data-role="page">

	<div data-role="header">
		<img src="http://i.imgur.com/jeCawcl.png" id="hamburger">
		<img id="icon" src="<%= @pic %>">
	</div>
	<!-- closes header div -->

<%= form_for @wishlist do |f| %>
	<%= f.label :title %>

  	<%= f.text_field :title %>
  
	<%= f.label :date %>

	<%= f.text_field :date, id: "datepicker"%>

	<%= f.label :description %>

	<%= f.text_area :description %>

	<%= f.label :type %>
<div data-role="controlgroup">
  	<%= f.radio_button(:kind, "christmas")%> Christmas <br />
  	<%= f.radio_button(:kind, "birthday") %> Birthday <br />
  	<%= f.radio_button(:kind, "other") %> Other <br />
 </div>
<!-- closes controlgroup div -->

  <%= f.submit %>

<% end %>


</div>
<!-- closes data-role div -->
