
<div data-role="header collapsible" class="heading">
		<div id="headtitle" class="ui-btn-left">
		<%= @wishlist.title %>
		</div>
		<img id="icon" class ="ui-btn-right" src="<%= @pic %>">
</div>

wishlist type: <%= @wishlist.kind %><br>

<% if @belongstouser %>
	your list!
<% else %>
	by: <%= @wishlistowner.name %>
<% end %>

<!-- list of existing items -->
<ul data-role="listview" class="items">
</ul>

<!-- Add new item will not show if it's not the user's list -->
<% if @belongstouser %>
<div class="forms">
</div>
<% end %>

<script type="text/javascript">
  Wishes.loadItems(<%= @wishlist.id %>);
</script>

<!-- AJAX for adding an item goes here -->
